{% extends 'base-form.html.twig' %}

{% block title %}Log in!{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('css/login.css') }}">
 {% endblock %}
{% block body %}
<div class="login_form">
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <h1 class="login_title"> Connectez vous </h1>
        <label for="inputUsername" class="login_label">Username</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="login_inputs" autocomplete="username" required autofocus placeholder="email">
        <label for="inputPassword" class="login_label">Password</label>
        <input type="password" name="password" id="inputPassword" class="login_inputs" autocomplete="current-password" required placeholder="Mot de passe">

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        
            {# remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html #}

            {# <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div> #}
        

        <button class="login_inputs" id="btn5" type="submit">
            Sign in
        </button>

    </form>
</div>
{% endblock %}
