    <link rel="stylesheet" href="../css/rating.css">
{{ form_start(form) }}
	<div class="form_container">
		<h1 class="login_title">
			Donnez votre avis !
		</h1>
		{# <label for="rating_repas">Note repas :</label><br><br> #}

		{# <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"> #}
		<h3 class="login_title">
			Note repas :
		</h3>
		<div class="login_star">
		
				{{ form_widget(form.note_repas) }}
				<label class = "full" for="student_note_repas_0" title="Awesome - 1 stars"></label>
				<label class = "full" for="student_note_repas_1" title="Awesome - 2 stars"></label>
				<label class = "full" for="student_note_repas_2" title="Awesome - 3 stars"></label>
				<label class = "full" for="student_note_repas_3" title="Awesome - 4 stars"></label>
				<label class = "full" for="student_note_repas_4" title="Awesome - 5 stars"></label>
			
		</div>
		{# <label for="rating_env">Note Environnement :</label> <br><br> #}
		<h3 class="login_title">
			Note Environnement :
		</h3>
		<div class="login_star">

			<label>
				{{ form_widget(form.note_valeur_environnement) }}
			</label>
		</div>
		<h3 class="login_title">
			Commentaire <span style="font-size:80%;">( facultatif )</span> :
		</h3>
		{# <label for="note_commentaire">Commentaire :</label> #}
		{{ form_widget(form.note_commentaire) }}
		<label for="classe">Votre classe <span style="font-size:80%;">( facultatif )</span> :</label>
		{{ form_widget(form.classe) }}

		{{ form_widget(form.envoyer) }}
	</div>
{% block javascripts %}
	<!--<script src="../js/star-rating.js"></script>-->
{% endblock %}

{# {{ form_widget(form) }} #}
{# <button class="btn">{{ button_label|default('Save') }}</button> #}

{{ form_end(form) }}
