{% extends 'base-dashboard.html.twig' %}

{% block title %}Student index{% endblock %}

 {% block stylesheets %}
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/dashboard.css">
 {% endblock %}

{% block body %}

        <nav class="leftNav" id="myTopnav">
            <div class="leftnav__date">
                <a class="topnav__link" href="{{ path('student_csvweek') }}">Rapports semaine courante <img src="../images/download.png" width="20px"></a>
                <a class="topnav__link" target="_blanc" href="{{ "../documentation/documentation.html" }}">Documentation <img src="../images/question.png" width="20px"></a>
            </div>
            <span class="leftnav__separateBar"></span>
            <div class="leftnav__param">
                <a class="topnav__link" href="#">| Rapports <img src="../images/report.png" width="20px"></a>
                <a class="topnav__link" href="{{ path('classes_index') }}" >| Gestion des classes <img src="../images/classe.png" width="20px"></a>
                <a class="topnav__link" href="{{ path('user_index') }}">| Gestion des utilisateurs <img src="../images/user.png" width="20px"></a>
                <a class="topnav__link" href="{{ path('qrcode_generate') }}">| générer le QR-code <img src="../images/qrcode.png" width="20px"></a>
            </div>
        </nav>

    <div class="bloc_dashboard">
        <div class="chart_container">
            {{ render_chart(chart, {'id': 'my-chart'})}}
        </div>
        <div class="btn_container">
            <h1>FeedBack - Dashboard </h1>
            <a href="{{ path('student_new') }}"><button id="btn5">Faire un feedback</button></a>
        </div>
        <table class="table">
            <thead>
                <tr class="table_title" id="table_title">
                    <th>Id</th>
                    <th>Note Repas</th>
                    <th>Note Environnement</th>
                    <th>Commentaire</th>
                    <th>Date</th>
                    {# <th>actions</th> #}
                </tr>
            </thead>
            <tbody>
            {% for student in students | sort %}
                <tr>
                    <th class="table_id">{{ student.id }}</th>
                    <th>{{ student.noteRepas }}</th>
                    <th>{{ student.noteValeurEnvironnement }}</th>
                    <th>{{ student.noteCommentaire }}</th>
                    <th>{{ student.noteDate ? student.noteDate|date('Y-m-d') : '' }}</th>
                    {# <td>
                        <a href="{{ path('student_show', {'id': student.id}) }}">show</a>
                        <a href="{{ path('student_edit', {'id': student.id}) }}">edit</a>
                    </td> #}
                </tr>
            {% else %}
                <tr>
                    <td colspan="6">Aucune notes enregistrées</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="bottom__param">
       <a class="bottom__link" href="#"><img src="../images/report.png" width="30px"></a>
       <a class="bottom__link" href="{{ path('classes_index') }}" ><img src="../images/classe.png" width="30px"></a>
       <a class="bottom__link" href="{{ path('user_index') }}"><img src="../images/user.png" width="30px"></a>
       <a class="bottom__link" href="{{ path('qrcode_generate') }}"><img src="../images/qrcode.png" width="30px"></a>
    </div>
{% endblock %}
