{{ form_start(form) }}
	<div class="form_container login_form">
		<h3 class="login_title">
			Intitulé de la classe :
		</h3>
		{{ form_widget(form.classe_libelle) }}
    <button id="btn5" class="login_inputs" style="width: 80%;">{{ button_label|default('Save') }}</button>
    <a href="{{ path('classes_index') }}" class="back_tolist" style="width: 80%;">back to list</a>
	</div>
{{ form_end(form) }}