<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/table.css">
    <title>liste des notes</title>
</head>
<body>
    {% if error != '' %}
        <div class="error">{{error}}</div>    
    {% endif %}
    <header>
        <nav class="topnav" id="myTopnav">
          <div id="left">
            <img class="topnav__link img" src="/images/cropped-cropped-NDLP-3-min-e1544695116495.png">
            <span class="topnav__link">Notre Dame de la Providence</span>
          </div>
          <a class="topnav__link" id="right" href="connect.php">| Login</a>
        </nav>
    </header>
    <main>
    <h1>FeedBack - {{ title }}</h1> 
        <table>
            <tr>
                <th>id</th>
                <th>Note repas</th>
                <th>Note environnement</th>
                <th>Commentaire</th>
                <th>Classe</th>
                <th>date</th>
            </tr>
            <tr>
            {% for notes in notes %}
               <tr><th>{{ notes.note_Id  }}</th> <th>{{ notes.note_Valeur_Repas }}</th> <th>{{ notes.note_Valeur_Environnement }}</th> <th>{{ notes.note_Commentaire }}</th> <th>{{ notes.classe_Id }}</th><th>{{ notes.note_date }}</th></tr>
            {% endfor %}
            </tr>
        </table>
        <a href="Noteadd.php">Add Note</a>
    </main>
</body>
</html>