{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/dashboard.css">
 {% endblock %}

{% block body %}


        <nav class="leftNav" id="myTopnav">
            <div class="leftnav__date">
                <a class="topnav__link">Rapports du "date" au "date"</a>
                <a class="topnav__link">Rapports du "date" au "date"</a>
                <a class="topnav__link">Rapports du "date" au "date"</a>
            </div>
            <span class="leftnav__separateBar"></span>
            <div class="leftnav__param">
                <a class="topnav__link" href="#">| Rapports</a>
                <a class="topnav__link" href="{{ path('classes_index') }}">| Gestion des classes</a>
                <a class="topnav__link" href="{{ path('user_index') }}">| Gestion des utilisateurs</a>
            </div>
        </nav>

    <div class="bloc_dashboard">
        <div class="btn_container">
            <h1>User index</h1>
            <a href="{{ path('user_new') }}"><button id="btn5">Créer un utilisateur</button></a>
        </div>
    
 <table class="table">
            <thead>
                <tr class="table_title" id="table_title">
                <th>Id</th>
                <th>username</th>
                <th>Roles</th>        
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <th class="table_id">{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
